/*
 * Globals
*/

html,
body 
{
  height: 100%;
  background-image: url("../img/HOME.png");
  color: #F7F7F7;
}

/* Links */
a,
a:focus,
a:hover 
{
  color: #fff;
  font-size: 15px;
}

h2
{
  font-family: 'Oswald', sans-serif;
  font-size: 34px;
}

p
{
  font-family: 'Quattrocento', serif;
  font-size: 20px;
}

#start-button
{
  background: #A83131;
  padding: 10px 50px;
  font-size: 15px;
  line-height: 35px;
}