/****************/
/*     MAIN    */
/***************/

html, body{
  width: 100%;
  height: 100%;
  background-color: black;
}

.logo_site{
  position: fixed;
  height: 5%;
  left: 2rem;
  top: 2.5rem;
  z-index: 100;
}

.logo_site img
{
  width: 70%;
}

a
{
  text-decoration: none;
}

.button{
  margin: 0 auto;
  background-color: #bd2222;
  width: 10rem;
  height: 2rem;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #8e2525;
  transition: background-color 0.2s ease-in-out;
}

.button a{
  color: white;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 1rem;
}


/****************/
/*     MENU    */
/***************/

.modal-box{
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
}

.elem_1,.elem_2{
  width: 49%;
  float: left;
  height: 100%;
  opacity: 0.1;
  transition: opacity 1s ease-in-out;
}

.elem_1:hover,.elem_2:hover{
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.elem_1{
  background-image: url('../../images/chapitre2_Bg3.jpg');
  background-size: cover;
}

.elem_2{
  background-image: url('../../images/chapitre3_bg.png');
  background-size: cover;
}


.link_1_menu{
  position: absolute;
  top: 30%;
  left: 7%;
  z-index: 1000;
}

.link_2_menu{
  position: absolute;
  top: 30%;
  right: 20%;
  z-index: 1000;
}

.link_1_menu span, .link_2_menu span{
  margin-bottom: 4rem;
}
.modal-box .chiffre{
  color: #7a0909;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 9px;
  margin-bottom: 2rem;
}
.modal-box .descrip{
  font-size: 14px;
  color: #F7F7F7;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
}

.modal-box .titre{
  font-size: 24px;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}


/*    Menu    */

.menu
{
  width: 100vw;
  height: 100vh;
  background: rgb(26, 26, 26);
  position: absolute;
  top: -100%;
  z-index: 90;
  transition: 0.2s ease-in-out;
}

.menu.switch
{
  top:0%;
}

.menu .previewMenuSelection
{
  width: 30%;
  height: 30%;
  z-index: 90;
  background-size: cover;
  position: absolute;
  opacity: 0;
  top: 33%;
  left: 20%;
  transition: 0.5s ease-in;
}

.menu .previewMenuSelection.preview-1
{
  background-image: url("../../images/chapitre1_Bg1.png");
}
.menu .previewMenuSelection.preview-2
{
  background-image: url("../../images/chapitre2_Bg1.png");

}
.menu .previewMenuSelection.preview-3
{
  background-image: url("../../images/chapitre3_Bg1.png");
}

.listMenu
{
  position: absolute;
  top: 20%;
  right: 10%;
  color: #F7F7F7;
  font-family:'Oswald', sans-serif;
  z-index: 90;
  display: inline-block;
  width: 30%;
  text-decoration: none;
}

.listMenu li
{
  margin: 20px 0;
  transition: 0.5s ease-in-out;
}



/* general list property */

.listChapters h5
{
  font-family: 'Quattrocento Sans', sans-serif;;
  font-size: 12.5px;
  color: #8e2525;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  margin: 5px 0;
}

.listChapters h4
{
  font-size: 20px;
  color: #949494;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  margin: 5px 0;
}

.listChapters h3
{
  font-size: 28px;
  color: #F7F7F7;
  display: inline-block;
  padding-bottom: 10px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  margin: 5px 0;
}


/****************/
/*     HOME    */
/***************/

.intro_home{
  width: 100%;
  height: 100%;
  background-image: url('../../images/HOME.png');
  overflow-y: hidden;
  text-align: center;
}

.contener_intro{
  transform: translatey(50%);
  will-change: transform;
}

.title_home{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 48px;
  width: 50%;
  display: inline-block;
  color: white;
  margin-bottom: 2rem; 
}

.descript_home{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 22px;
  width: 60%;
  text-align: center;
  display: inline-block;
  color: white;
  margin-bottom: 2rem;
  line-height: 2rem;
}



.button_home{
  background-color: #bd2222;
  width: 10rem;
  height: 2rem;
  transition: background-color 0.2s ease-in-out;
}

.button_home:hover {
  background-color: #8e2525;
  transition: background-color 0.2s ease-in-out;
}

.button_home a{
  color: white;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 1rem;
}



/********************/
/*     chapter 1    */
/********************/

.intro_chapitre1{
  background-repeat: no-repeat;
  background-image: url('../../images/chapitre1_Bg1.png');
}

.intro_chapitre1 .title{
  width: 50%;
  transform: translateX(25%) translateY(-70%);
  will-change: transform;
  filter: drop-shadow(0 0 0.55rem rgba(0, 0, 0, 0.363));
}

.intro_chapitre1 .title_1{
  width: 10%;
  position: absolute;
  top: -14rem;
  left: 3rem;
  filter: drop-shadow(0 0 0.55rem rgba(0, 0, 0, 0.363));
}

.scroll{
  position: absolute;
  left: 48.5%;
  bottom: 12%;
  color: #F7F7F7;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  animation-fill-mode: both;
  animation: fadeInDown 2.5s infinite;
  text-transform: uppercase;
}

.separation{
	clear: both;
	position: absolute;
  left: 50%;
  bottom: 0;
	height: 60px;
  width : 3px;
  border: none;
  background: rgb(122, 16, 16);
  animation-fill-mode: both;
  animation: fadeInDown 2.5s infinite;
	}

  .separation_2{
    clear: both;
    position: absolute;
    left: 50%;
    top: 0;
    height: 60px;
    width : 3px;
    border: none;
    background: rgb(122, 16, 16);
    }
 

@keyframes fadeInDown {
  0% {
     transform: translateY(-20px);
  }
  50% {
     transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
 }
} 

/**************************/
/** en savoir plus overlay CHAPITRE 1*/
/************************/
aside {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
  background-image: url('../../images/bg_overlay_chapter1.png');
  background-size: cover;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease;
  z-index: 200000;
  
}

.open {
	opacity: 1;
	visibility: visible;
}

.toggle-overlay {
  width: 9.3rem;
  height: 30px;
  background: #8c0909;
  color: #F7F7F7;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  left: 44%;
  bottom: 30%;
  position: absolute;
  transition: all .5s ease;
}

.toggle-overlay:hover {
  background: #530404;
}

.close {
  position: fixed;
  top: 44rem;
  right: 43px;
  z-index: 3;
  cursor: pointer;
  font-family: sans-serif;
}
.outer-close {
  position: absolute;
  left: 44%;
  bottom: 30%;
  width: 9.3rem;
  height: 30px;
  padding-top: 7px;
  padding-left: 4%;
  cursor: pointer;
}

/* chapitre 1 describ */

.section2_chapitre1{
  background-repeat: no-repeat;
  background-image: url('../../images/chapitre1_Bg2.png');
  background-size: cover;
}

.descript_chapter1{
font-family: 'Quattrocento Sans', sans-serif;
  font-size: 22px;
  width: 60%;
  text-align: center;
  display: inline-block;
  color: white;
  margin-bottom: 2rem;
  line-height: 2rem;
  transform: translatex(35%);
}

.descript2_chapter1{
  font-family: 'Quattrocento Sans', sans-serif;
    font-size: 22px;
    width: 60%;
    text-align: center;
    display: inline-block;
    color: white;
    margin-bottom: 2rem;
    line-height: 2rem;
    transform: translatex(35%) translateY(15rem);
}

  
.sidebar1 {
	width: 100%;
	position: fixed;
	background: rgba(255,255,255,0.85);
	height: 100%;
	
}

.navChp1 {
	padding: 0;
	margin: 0;
	list-style-type:none;
  background:white;
  width:20%;
  text-align: center;
  margin: 0 auto;
  transform: translatey(50%);
}

.navChp1 li{
  height: 3rem;
  color:#A83131;
}

.navChp1 li:hover{
  background:#A83131;
  color:#FFFF;
}

.navChp1.nav a, .navChp1.nav a:visited {
	display: block;
	text-decoration: none;
}

.navChp1 a, .navChp1 a:visited {
	display: block;
	text-decoration: none;
	color:#A83131;
}


.navChp1 li:hover, .navChp1 li:focus {
	display: block;
	text-decoration: none;
}

.sidebar1.about {
  background-color: blue;
}

.sidebar1.contact {
  background-color: yellow;
}

.sidebar1.barcelona {
  background-color: pink;
}

.sidebar1.sumi {
  background-color: orange;
}

.sidebar1.london {
  background-color: black;
}
/********************/
/*     chapter 2    */
/********************/
 
.intro_chapitre2{
  background-repeat: no-repeat;
  background-image: url('../../images/chapitre2_Bg1.png');
}

.intro_chapitre2 .title{
  width: 50%;
  transform: translateX(25%) translateY(-70%);
  will-change: transform;
  filter: drop-shadow(0 0 0.55rem rgba(0, 0, 0, 0.363));
}

.intro_chapitre2 .title_1{
  width: 10%;
  position: absolute;
  top: -14rem;
  left: 3rem;
  filter: drop-shadow(0 0 0.55rem rgba(0, 0, 0, 0.363));
}

.chapitre2_1 p
{
  width: 45%;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 20px;
}

.chapitre2_2
{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../images/chapitre2_Bg3.jpg');
  
}

.listContainer
{
  background:#000;
  width: 40%;
  height: 100vh;
  box-shadow: 100px 0px 400px 100px black;
 

}
.list
{
  
  width: 40%;
  height: 85vh;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

.example
{
  font-family: 'Oswald', sans-serif;
  flex: 1;
  transition: 0.5s;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
  color: #8a8888;
  
}
.example:hover
{
  padding-left: 70px;
  flex: 2;
}

.example .date
{
  font-size: 16px;
  color: #999999;
  margin-bottom: 10px;

}
.example .event
{
  font-size: 20px;
  color: #b8b8b8;
  padding-bottom: 10px;
  margin-bottom: 20px;
  transition: 0.5s;

}

.example:hover > .event
{
  color: white;
  border-bottom: solid 3px #8e2525;
}

.button2_2
{
  opacity: 0;
  transition: .3s
}

.example:hover  .button2_2
{
 opacity: 1;
}



/* PLAYER */

.player 
{
  width: 100%;
  height: 100%;

}

.seek-bar 
{
  width: 100vw;
  height: 15px;
  background: #424242;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  transform-origin: 0 1;
  will-change: transform;
  
}
.seek-bar:hover
{
  transform:scaleY(2);
  
} 

.player .seek-bar .fill-bar 
{
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  transform: scaleX(0);
  will-change: transform;
  background: #8e2525;
  animation: backgroundFill 8s ease infinite;
  background-size: 500% 500%;
}

.bottomBar
{
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  z-index: 10000;
}

/* BUTTON SLIDE TRANSITION */

.centerMe {
  position: absolute;
  bottom: -70%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.modal-box .button1 {
  display: flex;
  cursor: pointer;
  border: 0;
  background: transparent;
  outline: 0;
}
.modal-box .button1 .icon {
  position: relative;
  background: #7a0909;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  transition: .2s color;
  border-radius: 2px;
}
.modal-box .button1 .icon .fa {
  width: 30px;
  transition: .2s all;
}
.modal-box .button1 .text {
  position: relative;
  width: 0;
  height: 30px;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  background: #7a0909;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-weight: 300;
  transition: .2s all;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.modal-box .button1 .text span {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  transition: .3s all;
}
.modal-box .button1:hover .icon {
  border-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.modal-box .button1:hover .icon:after {
  right: -2px;
}
.modal-box .button1:hover .text {
  width: 120px;
}
.modal-box .button1:hover .text span {
  opacity: 1;
  top: 0;
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


/****************
*      MENU     *
****************/

/*  */
.menuCross {    
  position: fixed;
  right: 2.3rem;
  top: 3rem;
  z-index: 100;
  cursor: pointer;
}

.menuLabel
{
  position: fixed;
  right: 4.5rem;
  top: 3.3rem;
  z-index: 100;
  cursor: pointer;
  color: #F7F7F7;
  font-family: 'Oswald', sans-serif;;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2px;
  background-color: #F7F7F7;
  margin: 5px 0;
  transform-origin: 27% 27%;
  transition: 0.4s;
}

.switch .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.switch .bar2 {opacity: 0;}

.switch .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


/*******/
/**Chapitre 3*/
/*******/


.intro_chapitre3{
  background-repeat: no-repeat;
  background-image: url('../../images/chapitre3_Bg1.png');
}

.intro_chapitre3 .title{
  width: 50%;
  transform: translateX(25%) translateY(-70%);
  will-change: transform;
  filter: drop-shadow(0 0 0.55rem rgba(0, 0, 0, 0.363));
}

.intro_chapitre3 .title_3{
  width: 10%;
  position: absolute;
  top: -14rem;
  left: 3rem;
  filter: drop-shadow(0 0 0.55rem rgba(0, 0, 0, 0.363));
}

.scroll{
  position: absolute;
  left: 48.5%;
  bottom: 12%;
  color: #F7F7F7;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  animation-fill-mode: both;
  animation: fadeInDown 2.5s infinite;
  text-transform: uppercase;
}

.separation{
	clear: both;
	position: absolute;
  left: 50%;
  bottom: 0;
	height: 60px;
  width : 3px;
  border: none;
  background: rgb(122, 16, 16);
  animation-fill-mode: both;
  animation: fadeInDown 2.5s infinite;
	}

  .separation_2{
    clear: both;
    position: absolute;
    left: 50%;
    top: 0;
    height: 60px;
    width : 3px;
    border: none;
    background: rgb(122, 16, 16);
    }
 

@keyframes fadeInDown {
  0% {
     transform: translateY(-20px);
  }
  50% {
     transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
 }
} 

/****
parralax
*/

.soldier{
  width: 59%;
  height: 100%;
  transform: translateX(96%)translateY(-31%);
}

.soldier_2{
  width: 80%;
  height: 100%;
  transform: translateX(-10%)translateY(25.5%);
}

.child{
  width: 22%;
  position: absolute;
  top: 2rem;
  right: 14rem;
}

.des_chapitre3{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../images/desert.jpg');
}

.audio_chapitre3{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../images/chapitre3_bg_section5.png');
}

.audio1_chapitre3{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../images/chapitre3_bg_section3.png');
}

.audio2_chapitre3{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../images/chapitre3_bg_section7.png');
}
/**************************/
/** en savoir plus overlay CHAPITRE 3*/
/************************/
.aside {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
  background-image: url('../../images/bg_overlay_chapter3.png');
  background-size: cover;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease;
	z-index: 200000;
}

.aside_1 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
  background-image: url('../../images/bg_overlay_chapter3_4.png');
  background-size: cover;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease;
	z-index: 200000;
}

.open {
	opacity: 1;
	visibility: visible;
}

.toggle-overlay {
  width: 9.3rem;
  height: 30px;
  background: #8c0909;
  color: #F7F7F7;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  left: 44%;
  bottom: 30%;
  position: absolute;
  transition: all .5s ease;
}

.toggle-overlay:hover {
  background: #530404;
}

.close {
  position: fixed;
  top: 44rem;
  right: 43px;
  z-index: 3;
  cursor: pointer;
  font-family: sans-serif;
}
.outer-close {
  position: absolute;
  left: 44%;
  bottom: 30%;
  width: 9.3rem;
  height: 30px;
  padding-top: 7px;
  padding-left: 4%;
  cursor: pointer;
}

/* chapitre 3 describ */

.section2_chapitre3{
  background-repeat: no-repeat;
  background-image: url('../../images/chapitre3_Bg2.png');
  background-size: cover;
}
.section4_chapitre6 {
  background-repeat: no-repeat;
  background-image: url('../../images/chapitre3_bg_section6.png');
  background-size: cover;
}

.section3_chapitre3{
  background-repeat: no-repeat;
  background-image: url('../../images/chapitre3_bg_section8.png');
  background-size: cover;
}

.descript_chapter3{
font-family: 'Quattrocento Sans', sans-serif;
  font-size: 22px;
  width: 60%;
  text-align: center;
  display: inline-block;
  color: white;
  margin-bottom: 2rem;
  line-height: 2rem;
  transform: translatex(35%) translateY(-100%);
}

.titre_slide{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 22px;
  width: 60%;
  position: absolute;
  text-align: center;
  color: white;
  top: 20%;
  left: 22%;
  line-height: 2rem;
  }

  .titre_slide2{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 22px;
    width: 60%;
    position: absolute;
    text-align: center;
    color: white;
    top: 28%;
    left: 22%;
    line-height: 2rem;
    }

.descript2_chapter3{
  font-family: 'Quattrocento Sans', sans-serif;
    font-size: 22px;
    width: 60%;
    text-align: center;
    display: inline-block;
    color: white;
    margin-bottom: 2rem;
    line-height: 2rem;
    transform: translatex(35%) translateY(-1rem);
  }
.descrip_overlay_chap3{
  font-family: 'Quattrocento Sans', sans-serif;
    font-size: 22px;
    width: 60%;
    text-align: center;
    display: inline-block;
    color: white;
    margin-bottom: 2rem;
    line-height: 2rem;
    transform: translatex(35%) translateY(15rem);
}

.audio_sound{
  display: inline-block;
  position: absolute;
  top: 42%;
  left: 40%;
}
