html, body{
  width: 100%;
  height: 100%;
  background-color: black;
}

.logo_site{
  position: fixed;
  height: 5%;
  left: 2rem;
  top: 2rem;
}

/********
** HOME***
**********/

.intro_home{
  width: 100%;
  height: 100%;
  background-image: url('../../images/HOME.png');
  overflow-y: hidden;
  text-align: center;
}

.contener_intro{
  transform: translatey(50%);
  will-change: transform;
}

.title_home{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 48px;
  width: 50%;
  display: inline-block;
  color: white;
  margin-bottom: 2rem; 
}

.descript_home{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 22px;
  width: 60%;
  display: inline-block;
  color: white;
  margin-bottom: 2rem;
  line-height: 2rem;
}

.button_home{
  background-color: #bd2222;
  width: 10rem;
  height: 2rem;
  transition: background-color 0.2s ease-in-out;
}

.button_home:hover {
  background-color: #8e2525;
  transition: background-color 0.2s ease-in-out;
}

.button_home a{
  color: white;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 1rem;
}

/*********$
** Chapter 1***
**********/

.intro_chapitre1{
background-repeat: no-repeat;
  background-image: url('../../images/chapter1Bg.png');
}

.intro_chapitre1 .title{
  width: 80%;
  transform: translateX(25%) translateY(-70%);
  will-change: transform;
  filter: drop-shadow(0 0 0.55rem rgba(0, 0, 0, 0.363));
}

.intro_chapitre1 .title_1{
  width: 10%;
  position: absolute;
  top: -14rem;
  left: 3rem;
  filter: drop-shadow(0 0 0.55rem rgba(0, 0, 0, 0.363));
}